.icon-card {
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.icon-card:hover .click-to-explore {
  background-color: rgba(0, 0, 0, 0.8);
}

.icon-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.icon-card p {
  margin: 10px 0 0;
  font-size: 16px;
  color: #333;
}

.collection-section .icon-card {
  flex: 0 0 calc(33.33% - 20px);
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s ease;
}

.collection-section .icon-card img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.collection-section .icon-card:hover {
  transform: scale(1.03);
}

.click-to-explore {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
}